server:
  port: 8082

spring:
  application:
    name: newtab-service

  datasource:
    url: jdbc:postgresql://localhost:5432/newtab
    username: newtab
    password: newtab
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    com.newtab.newtab: DEBUG
